<div class="toolbar">
    <button (click)="toggleSelectionMode()">
        {{ selectionMode ? 'Hide' : 'Show' }} selection mode
    </button>
    <p *ngIf="selectionMode">Rows selected: {{ selectedRowsCount }}</p>
    <p>Total items in the grid: {{ (rowData | async).length }}</p>
</div>
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 90vh"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    rowSelection="multiple"
    (checkboxChanged)="onCheckboxChanged()"
    (gridReady)="onGridReady($event)"
    [suppressRowClickSelection]="true"
>
</ag-grid-angular>
